body {
    font-family: 'Times New Roman', serif;
    font-size: 24px;
}


h1 {
    font-size: 48px
}

h1,
h2 {
    text-align: center;
}

img {
    width: auto;
    height: 500px;
    margin: 0 auto;
    display: block;
}

.recipe {
    font-size: 36px;
    display: block;
    margin: 8px 0;
    background-color: white;
    border: 4px solid black;
    text-align: center;
    padding: 4px 0;
}

.recipe-selector {
    width: 750px;
    margin: 0 auto;
}

.description {
    text-align: center;
}

.container {
    border: 4px solid black;
    margin: 16px auto;
    padding: 8px;
    background-color: #EEEEEE;
    width: 50%;
}